@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #F7F9FA;
  --foreground: #25282E ;
  --universal: #3805F2;
  --textcolorlight: #222222;
  --textcolordark: #EAEAEA;
}

@theme {
  --color-lighbg: var(--background);
  --color-darkbg: var(--foreground);
  --color-universal: var(--universal);
  --color-textlight: var(--textcolorlight);
  --color-textdark: var(--textcolordark);
  --font-worksans: "Work Sans", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
}




